

#login-img {
    display: inline-block;
    height: 200px;
}

.container-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-params {
margin-top: 1em;
height: 3em;
}

.submit-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
}

#submit-button {
    width: 80%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    font-size: larger;
    border-radius: 73px;
}


#id-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

#please-login{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;

}