.header-title {
    text-align: center;
    margin-top: 2em;
}

.header-description {
    text-align: center;
    margin-top: 2em;
}


.container-category {
display: flex;
flex-direction: column;
justify-content: space-between;
}


#car-info-container {
    display: flex;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    margin-top: 2%;

}

#title-car-info {
    display: block;

}

#car-pic {
    width: 20em;
    margin-right: 2em;
}

#product-count {
    color: rgb(169, 168, 168);
    text-decoration: wavy;
}

